body {
  margin: 0;
}

.main {
  margin: 10px;
}

h1 {
  color: orange;
  font-size: 32px;
}

header {
  background-color: thistle;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

header a:link, a:visited, a:hover, a:active {
  color: purple;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
}

.tag-line {
  color: red;
  font-size: 22px;
}

button:focus {outline:0;}

.button-primary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: purple;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

footer {
  width: 100%;
  padding: 10px;
  margin: 0;
  position: fixed;
  bottom: 0;
  background-color: orange;
}
